Question 1: What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of organized data that is stored and managed on a computer system. It allows for efficient storage, retrieval, and manipulation of large amounts of data. A database system typically consists of software that manages the data, a database server that stores the data, and one or more applications that access the data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems that use different methods for storing and retrieving data. Here are some key differences between the two:

SQL Databases:
mySQL
Oracle
PostgreSQL
Microsoft SQL Server
SQLite



NoSQL Databases:
MongoDB (document-oriented)
Cassandra (column-family)
Redis (key-value)
Neo4j (graph)
Amazon DynamoDB (document-oriented)
It's worth noting that there are many different types of NoSQL databases, each with their own strengths and weaknesses. For example, document-oriented databases like MongoDB are great for storing unstructured data such as JSON documents, while graph databases like Neo4j are ideal for modeling complex relationships between data points.

Similarly, there are many different types of SQL databases, each with their own features and benefits. For example, MySQL is a popular choice for web applications due to its fast performance and scalability, while PostgreSQL is often used for data warehousing and business intelligence applications due to its advanced query optimization capabilities.

Ultimately, the choice between SQL and NoSQL databases will depend on the specific requirements of your application and the type of data you need to store and process.

Question 2: What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Answer : DDL stands for Data Definition Language, which is a subset of SQL used to create, modify, and delete database objects such as tables, indexes, and views.
Establishing Connection with SQLite3
Dependencies required : sqlalchemy==1.3.9 , ipython-sql
Using !pip install to install above package through this jupyter notebook

!pip install sqlalchemy==1.3.9 ipython-sql

In [ ]:
%load_ext sql
import csv, sqlite3
con = sqlite3.connect("test.db")
cur = con.cursor()
%sql sqlite:///test.db
With above a connection is now established to test.db and we can directly write a query with %%sql magic command using above
Note: The %%sql command is a Jupyter Notebook magic command that allows you to execute SQL queries directly in a notebook cell. Provided that database connection is established

Below are DDL Commands executed with %%sql magic command

In [ ]:
CREATE: The CREATE command is used to create a new database object, such as a table, index, or view. For example, to create a new table called "users" with columns for a user's name, email, and password, you would use the following SQL statement:
%%sql
CREATE TABLE if not exists users
(id INT PRIMARY KEY,
name VARCHAR(50) NOT NULL,
email VARCHAR(50) NOT NULL,
password VARCHAR(50) NOT NULL);
 * sqlite:///test.db
Done.
[]
# Viewing Above table
%sql SELECT * FROM users;
 * sqlite:///test.db
Done.
id	name	email	password
DROP: The DROP command is used to delete an existing database object. For example, to delete the "users" table created in the previous example, you would use the following SQL statement:

In [ ]:
%sql DROP TABLE users;
 * sqlite:///test.db
Done.
[]
%sql SELECT * FROM users
#Below output shows that users table is deleted (no such table: users)
 * sqlite:///test.db
(sqlite3.OperationalError) no such table: users
[SQL: SELECT * FROM users]
(Background on this error at: http://sqlalche.me/e/e3q8)
ALTER: The ALTER command is used to modify an existing database object, such as a table, index, or view. For example, to add a new column to the "users" table to track a user's login status.
%%sql
CREATE TABLE if not exists users
(id INT PRIMARY KEY,
name VARCHAR(50) NOT NULL,
email VARCHAR(50) NOT NULL,
password VARCHAR(50) NOT NULL);

In [ ]:
%sql SELECT * FROM users;
 * sqlite:///test.db
Done.
id	name	email	password
# ALTER Example to change column name and schema
%sql ALTER TABLE users ADD COLUMN login_status BOOLEAN;
 * sqlite:///test.db
Done.
[]
%sql SELECT * FROM users;
 * sqlite:///test.db
Done.
id	name	email	password	login_status
TRUNCATE: The TRUNCATE command is used to delete all the rows in a table, while keeping the table structure intact. For example, to delete all the data in the "users" table but keep the table structure, you would use the following SQL statement:

In [ ]:
Command in my SQL is as below:
TRUNCATE TABLE table_name

%sql select * from users;
 * sqlite:///test.db
Done.
id	name	email	password	login_status
%%sql 
INSERT INTO users VALUES (1,'John Doe','test@test.com','123#413s',False);
INSERT INTO users VALUES (2, 'Jane Doe','test@jane.com','21wdds2',True);
 * sqlite:///test.db
1 rows affected.
1 rows affected.
[]
%sql SELECT * FROM users;

In [ ]:
ql SELECT * FROM users;
 * sqlite:///test.db
Done.
id	name	email	password	login_status
1	John Doe	test@test.com	123#413s	0
2	Jane Doe	test@jane.com	21wdds2	1
# Truncate Example SQLITE Has DELETE command instead of TRUNCATE
%sql DELETE FROM users;
 * sqlite:///test.db
2 rows affected.
[]
%sql SELECT * FROM users;

Question 3: What is DML? Explain INSERT, UPDATE, and DELETE with an example

In [2]:
DML stands for "Data Manipulation Language," and it is a subset of SQL (Structured Query Language) that is used to manipulate data within a database. The three main commands in DML are INSERT, UPDATE, and DELETE.

SyntaxError: invalid syntax (2714947820.py, line 1)

In [3]:
%%sql
CREATE TABLE if not exists students
(name VARCHAR(50) ,
age INT ,
grade VARCHAR(2));
 * sqlite:///test.db
Done.
[]
# Viewing the students table
%sql SELECT * FROM students

UsageError: Cell magic `%%sql` not found.

INSERT - The INSERT command is used to add new data to a database table.
#INSERT Command
%sql INSERT INTO students VALUES ('Utkarsh Gaikwad', 28, 'B');
 * sqlite:///test.db
1 rows affected.
[]
# Viewing the table now
%sql SELECT * FROM students

In [ ]:
UPDATE: The UPDATE command is used to modify existing data in a database table
# UPDATE example
%sql UPDATE students SET grade = 'A+' WHERE name = 'Utkarsh Gaikwad';
 * sqlite:///test.db
1 rows affected.
[]
#View Updated table
%sql SELECT * FROM students;
 * sqlite:///test.db
Done.
name	age	grade
Utkarsh Gaikwad	28	A+

In [ ]:
%sql DELETE FROM students WHERE name='Utkarsh Gaikwad';
 * sqlite:///test.db
1 rows affected.
[]
%sql SELECT * FROM students;

In [ ]:
Question 4: What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for "Data Query Language," and it is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. The main command in DQL is SELECT.

In [ ]:
%sql SELECt * FROM students
 * sqlite:///test.db
Done.
name	age	grade
Inserting various students using INSERT command
%%sql
INSERT INTO students VALUES ('Utkarsh', 28, 'A');
INSERT INTO students VALUES ('John', 35, 'B');
INSERT INTO students VALUES ('Krish', 40, 'A');
INSERT INTO students VALUES ('Sudh', 35, 'A');
INSERT INTO students VALUES ('Jane', 24, 'C');
INSERT INTO students VALUES ('Aditi', 22, 'B');
INSERT INTO students VALUES ('Kritika', 38, 'C')

In [ ]:
%sql SELECT * from students;

In [ ]:
%sql SELECT name, age FROM students;

In [ ]:
# Example 3: Selecting student with A Grade
%sql SELECT * FROM students WHERE grade='A';

Question 5: Explain Primary Key and Foreign Key.

In [ ]:
Primary Key: In a database table, a primary key is a column or a set of columns that uniquely identifies each row in the table. The primary key is used to ensure that each row in the table is unique, and it is often used as a reference by other tables. The primary key is also used to enforce data integrity, which means that it ensures that there are no duplicate or null values in the key column(s).
Creating a table named "customers" with columns "customer_id", "first_name", "last_name", and "email". The "customer_id" column is defined as the primary key.

In [ ]:
%%sql
CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  first_name VARCHAR(50),
  last_name VARCHAR(50),
  email VARCHAR(100));
 * sqlite:///test.db

%sql SELECT * FROM customers

In [ ]:
Foreign Key: A foreign key is a column or a set of columns in a table that refers to the primary key of another table. The foreign key is used to establish a relationship between two tables, and it ensures that the data in the foreign key column(s) of one table matches the data in the primary key column(s) of the other table.
Creating a table named "orders" with columns "order_id", "order_date", "customer_id", and "total_amount". The "order_id" column is defined as the primary key, and the "customer_id" column is defined as a foreign key that references the "customer_id" column of the "customers" table. This establishes a relationship between the "orders" table and the "customers" table. The "total_amount" column is used to store the total amount of the order.

%%sql
CREATE TABLE orders (
  order_id INT PRIMARY KEY,
  order_date DATE,
  customer_id INT,
  total_amount DECIMAL(10,2),
  FOREIGN KEY (customer_id) REFERENCES customers(customer_id));

In [ ]:
%sql SELECT * FROM orders
 * sqlite:///test.db
Done.
order_id	order_date	customer_id	total_amount
Closing SQLite datbase connection
con.close()

Question 6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Secure@1994"
)
print(mydb)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)
mydb.close()

In [ ]:
In above code, we first establish a connection to a MySQL database using the mysql.connector.connect() method, which takes the host, user, password as arguments.
Next, we create a cursor object using the cursor() method of the connection object. The cursor object allows us to execute queries and fetch results.
We then execute a SQL query using the execute() method of the cursor object, which takes the SQL query as an argument.

Question 7: Give the order of execution of SQL clauses in an SQL query


Answer: In an SQL query, the clauses are executed in the following order:
FROM clause: Specifies the table or tables from which to retrieve data.

JOIN clause: Specifies how to join multiple tables together, if needed.

WHERE clause: Specifies which rows to retrieve based on a set of conditions.

GROUP BY clause: Specifies how to group rows based on one or more columns.

HAVING clause: Specifies which groups to retrieve based on a set of conditions.

SELECT clause: Specifies which columns to retrieve.

DISTINCT clause: Specifies to retrieve only distinct values of the specified columns.

ORDER BY clause: Specifies how to sort the retrieved rows based on one or more columns.

LIMIT clause: Specifies the maximum number of rows to retrieve.